.background-video {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    /* height: 75%; */
    z-index: -1;
  }
  
  .background-video video {
    object-fit: cover;
  }
  .topbg {
    background-image: url("cover1.jpg");
    width: 1500px;
    height: 900px;
    /* position: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 90%; */
  }
  