.image-container img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.image-container2 img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
}



@media (max-width: 767px) {


  .photo {
    width: 340px;
    height: 238px;
    margin-left: 15px;
  }

  .springpic1 {
    display: none;
  }

  .bsdk {
    display: none;
  }

  .bsdk1 {
    display: none;
  }

  .heading {
    font-size: 2.5em;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 40px;
  }

  .content {
    font-size: 23px;
    margin-left: 40px;
  }

  .bheem {
    margin-left: 50px;
    margin-right: 50px;
  }

  .card5 {
    width: 82%;
    margin-left: 50px;
  }

  .subhead1 {
    font-size: 40px;
    margin-left: 30px;
  }

  .image-container {
    position: relative;
    display: inline-block;
  }

  .image-container2 {
    position: relative;
    display: inline-block;
  }

  .overlay-card {

    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-20%, -40%);
    background-color: white;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    color: #fff;

  }

  .card2 {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-20%, -50%);
    background-color: white;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    color: #fff;
  }

  .happy{
  font-size: large;
  }

  .happy1{
    font-size: small;
  }

  .teamchodu {
    margin-top: 30px;
  }
  .last{
    background-color: #3BC227;
    border-radius: 10px;
    }

  .text6 {
    font-size: 40px;
    margin-left: 25px;
  }

  .bkl {
    margin-left: 13px;
  }

  .image-container img {
    margin-left: 15px;
    width: 70%;
  }

  .image-container2 img {
    margin-left: 15px;
    width: 70%;

  }

  .foxy9 {
    font-size: 1.5em;
  }

.photo4{
  display: none;
}
.photo5{
  display: none;
}
.photo6{
  display: none;
}
.photo7{
  display: none;
}

}

@media (min-width: 426px) and (max-width: 767px) {

  .card5{
    width: 87%;
  }

  .image-container {
    position: relative;
    display: inline-block;
  }

  .image-container2 {
    position: relative;
    display: inline-block;
  }

  .overlay-card {

    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-20%, -0%);
    background-color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding-bottom: 10px;
  }

  .card2 {
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-20%, -00%);
    background-color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.6);
    /* Adjust the alpha value (0.5) to control transparency */
    color: #fff;
  }

  .text6 {
    font-size: 28px;
    margin-left: 5px;
  }

  .image-container img {
    margin-left: 15px;
    width: 50%;
  }

  .image-container2 img {
    margin-left: 15px;
    width: 50%;
    display: flex;
    justify-content: center;

  }

  .foxy9 {
    font-size: 1.5em;
  }

  
  .photo7 {
    display: none;
  }

  .happy{
    font-size: larger;
  }
  .happy1{
    font-size: small;
  }
}
@media (min-width: 768px) and (max-width: 1024px){
  .heading {
    font-size: 3.3em;
  }

  .content {
    font-size: 1.2em;
  }

  .subhead1 {
    font-size: 4.5rem;
    margin-left: 70px;

  }

  .subphoto {
    border-radius: 12px;
  }
  .photo {
    width: 350px;
    height: 250px;
    margin-Left: px;
  }
  .pic1{
    padding-right: 25px;

  }

  .card5 {
    width: 18rem;
    margin-left: 115px;
  }
.springpic1 {
    display: none;
  }

  .image-container {
    position: relative;
    display: inline-block;
  }

  .image-container2 {
    position: relative;
    display: inline-block;
  }
  .overlay-card {

    position: absolute;
    top: 30%;
    left: 10%;
    transform: translate(-50%, -0%);
    background-color: white;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
    content: "";
   padding-top: 10px;
   padding-bottom: 10px;
  }

  .card2 {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(25%, -00%);
    background-color: white;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
    padding-top: 10px;
   padding-bottom: 10px;
   }

  .text6 {
    font-size: 28px;
    margin-left: 5px;
  }
  .teamchodu {
    margin-top: 90px;
  }
 
  .image-container img {
    width: 60%;
  height: auto;
    margin-left: 50px;
  }
  .image-container2 img {
    width: 60%;
    height: auto;
    margin-left: 15px;
  } 

 
  .bheem {
    margin-left: 50px;
    margin-right: 50px;
  }

  .foxy9 {
    font-size: 1.5em;
  }

  .photo7 {
    display: none;
  }
  .subhead1{
    font-size: 50px;
  }


}
@media (min-width: 1025px) and (max-width: 2720px) {

  .cutop{
    margin-top: 40px;
  }
  .heading {
    font-size: 3.3em;
  }

  .content {
    font-size: 1.2em;
  }

  .subhead1 {
    font-size: 4.5rem;
    margin-left: 70px;
 }

  .subphoto {
    border-radius: 12px;
  }

  .subphoto {
    position: relative;
    z-index: 54;
  }

  .image-container {
    position: relative;
    display: inline-block;
  }

  .image-container2 {
    position: relative;
    display: inline-block;
  }

  .overlay-card {

    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-70%, -50%);
    background-color: white;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
  }

  .card2 {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(5%, -50%);
    background-color: white;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
  }

  .overlay-card h2 {
    font-size: 24px;
   
  }

  .overlay-card p {
    font-size: 16px;
    margin-bottom: 0;
  }

  .image-container img {
    width: 60%;
    margin-left: 150px;
    height: 80%;
  }

  .image-container2 img {
    width: 60%;
    margin-left: 100px;
    height: 80%;
  }


  .card3 {
    margin-left: 60px;
    width: 20rem;
    height: 12rem;

  }

  .card4 {
    margin-left: 60px;
    width: 18rem;
  }

  .card5 {
    margin-left: 212px;
    padding: 10px;
    width: 18rem;
    height: 180px;
  }

  .springpic1 {
    height: 70%;
    width: 70%;
    margin-left: px;
   }

  .photo4 {
    padding-left: 90px;
  }

 

  .text6 {
    font-size: 43px;

  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .trial {
    font-size: 20px;
    padding-left: 60px;
    padding-top: 70px;
  }

  .photo {
    width: 90%;
    height: 90%;
    margin-Left: 0px;
  }

  .teamchodu {
    margin-top: 90px;
  }

  .foxy9 {
    font-size: 1.25rem;
  }


}