  .bcolor{
    background-color: #E8EAEC;
    
  }

  .header {
    
    background: linear-gradient(223deg, #062A89 0%, rgba(106, 12, 121, 0.60) 100%);
    padding: 2rem;
    border-radius: 25px;
    margin-top:0px;
    margin-bottom: 2rem;
    }
  
  .headerTitleLg {
  
    font-size: 64px;
    color: white;
    margin-bottom: 2rem;
  }
  .headerTitleSm {
    font-size: 30px;
    color: white;
    font-weight: lighter;
    max-width: 85%;
  }
  .cardsize{
    max-width: 90%;
  }

  /* .rightcardbox{
    height: 42%;
  } */
  
  /* .leftbox{
    height: 60%;
  } */
  
  @media (max-width: 768px) {
    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
      padding: 0rem;
      border-radius: 0px;
      
    }
  
    .headerTitleLg {
        margin-top:2rem;
      font-size: 40px;
    }
    .headerTitleSm {
        text-align: justify;
      font-size: 20px;
      margin-bottom: 2rem;
      max-width: 90%;
    }
  
  }
  
  
  
  
  
  
  .joji{
      margin-top: 40px;
      
      transition: transform 500ms ease;
      cursor: pointer;
     
  
  }
  
     
  .joji:hover{
      transform: scale(1.05);
  }