.dsa{
    height: 80%;
    padding: 20px;
    margin-top: 40px; 
    margin-bottom: 30px;
    border-radius: 10px;
  
    
}
.indicator{
  margin:auto;
  padding: auto;
  
}
.carouselimage{
height: 80%;
}

@media (max-width: 768px){
  .dsa{
    height: auto;
  }
}